@model SystemKadr.Models.Pracownicy
@{
    ViewBag.Title = "Logowanie";
}
<a></a>
<head>
<style>
    #login-div{
        position:absolute;
        left: 40%;
        top: 40%;
        border: 1px solid #ccc;
        padding: 10px 10px;
         

    }
</style>
</head>
<div id="login-div">
    @using (Html.BeginForm("Autherize", "Home", FormMethod.Post))
    {
    <table>
        <tr>
            <td>
                <font size="6"><b>Zaloguj sie do aplikacji</b></font>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Identyfikator)
            </td>
            <td>
                @Html.EditorFor(model => model.Identyfikator)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PESEL)
            </td>
            <td>
                @Html.EditorFor(model => model.PESEL)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" name="name" value="Login" />
            </td>
        </tr>
    </table>
    }
</div>